/*Styling form Contents*/
form {
    display: inline-block;
}

input[type=button], input[type=submit]{
    font-family: Verdana, Geneva, sans-serif;
    font-size: 1.2em;
    background-color:black;
    border: none;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}
/*Styling input text*/
input[type = text], input[type = date] {
    width: 85%;
    padding: 12px 20px;
    margin: 8px 0;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 1.1em;
    cursor:auto;
    float: right;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
    font-size: 1.2em;
}

.container {
    border-radius: 5px;
    padding: 20px;
    text-align: center;
}
  
.leftcol {
    float: left;
    width: 40%;
    margin-top: 12px
}
  
.rightcol {
    float: left;
    width: 60%;
    margin-top: 6px;
}
  
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
