<html>
  <link rel="stylesheet" href="{{ url_for('static', filename='mainstyle.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='homepagestyle.css') }}">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js">  
  </script>  
  
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.js">  
  </script>  
  
  <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/ui-lightness/jquery-ui.css"
      rel="stylesheet" type="text/css" />  
    <head>
        <title>CoViz Homepage</title>
    </head>
    <body>
        <a href="/"> <h1>Welcome to CoViz!</h1> </a>

        <div class="tab">
            <button class="tablinks" onclick="openTab('About')">About CoViz</button>
            <button class="tablinks" onclick="openTab('Raw')">View Raw Data</button>
            <button class="tablinks" onclick="openTab('Graph')">View Graphs</button>
            <button class="tablinks" onclick="openTab('Help')">Help</button>

            </div>
                <div id="About" class="tabcontent" style="display:block">
                    <span onclick="this.parentElement.style.display='none'" class="topright">&times</span> 
                    <h2>About CoViz</h2>
                    <p>
                        CoViz is a Covid infomation visualizing application developed by Team G in CS 257, at Carleton College during the spring term of 2022. <br>
                        <br>
                        Coviz uses the Covid Dataset by TrevorWinstral on Github, available
                        <a href="https://github.com/datasets/covid-19/blob/main/data/us_simplified.csv">here.</a><br>
                        <br>
                        The team members include: Bryan Yang, Dake Peng, Will Gershman, and Sam McCarthy Potter <br>
                        <br>
                        Try out our functions in the tab bar to view COVID raw data and graphs!
                    </p>
            </div>
          
            <div id="Raw" class="tabcontent">
                <span onclick="this.parentElement.style.display='none'" class="topright">&times</span>

                <h2>View Raw Data</h2>
                <p>Enter the following information to see raw data!</p>
                <div class="container">

                    <form action="displayRawData" autocomplete="on">
                        <div class = "row">
                            <div class = "leftcol">
                                <label for="state">State: </label>
                            </div>
                            <div class = "rightcol">
                                <input type="text" id="stateName" name = "state" autocomplete="state">
                            </div>
                        </div>

                        <div class = "row">
                            <div class = "leftcol">
                                <label for="county">County: </label>
                            </div>
                            <div class = "rightcol">
                                <input type="text" id="countyName" name = "county" autocomplete="province">
                            </div>
                        </div>

                        <div class = "row">
                            <div class = "leftcol">
                                <label for="startDate">Start Date: </label>
                            </div>
                            <div class = "rightcol">
                                <input type="date" id="startDate"  min="2020-01-22" max="2020-4-9" name = "startDate">
                            </div>
                        </div>

                        <div class = "row">
                            <div class = "leftcol">
                                <label for="endDate">End Date: </label>
                            </div>
                            <div class = "rightcol">
                                <input type="date" id="endDate" min="2020-01-22" max="2020-4-9" name = "endDate"> <br>
                            </div>
                        </div>
                        
                        <br>
                        <div class = "row">
                            <input type="submit" value="Viz!"><br>
                        </div>
                    </form>
                </div>    
            </div>

            <div id="Graph" class="tabcontent">
                <span onclick="this.parentElement.style.display='none'" class="topright">&times</span>

                <h2>View Graph</h2>
                <p>Enter the following information to see graphs!</p>
                <div class="container">

                    <form action="displayGraph">
                        <div class = "row">
                            <div class = "leftcol">
                                <label for="state">State: </label>
                            </div>
                            <div class = "rightcol">
                                <input type="text" id="stateName" name = "state"  autocomplete="state">
                            </div>
                        </div>

                        <div class = "row">
                            <div class = "leftcol">
                                <label for="county">County: </label>
                            </div>
                            <div class = "rightcol">
                                <input type="text" id="countyName" name = "county"  autocomplete="province">
                            </div>
                        </div>

                        <div class = "row">
                            <div class = "leftcol">
                                <label for="startDate">Start Date: </label>
                            </div>
                            <div class = "rightcol">
                                <input type="date" id="startDate" min="2020-01-22" max="2020-4-9" name = "startDate">
                            </div>
                        </div>

                        <div class = "row">
                            <div class = "leftcol">
                                <label for="endDate">End Date: </label>
                            </div>
                            <div class = "rightcol">
                                <input type="date" id="endDate"  min="2020-01-22" max="2020-4-9"name = "endDate"> <br>
                            </div>
                        </div>
                        
                        <br>
                        <div class = "row">
                            <input type="submit" value="Viz!"><br>
                        </div>
                    </form>
                </div>    
            </div>

            <div id="Help" class="tabcontent">
                <span onclick="this.parentElement.style.display='none'" class="topright">&times</span>
                <h2>Help</h2>
                <p>To interact with the CoVid dataset, try clicking on the "View Raw Data" tab or the "View Graph" tab!</p>
            </div>
        </div>
        
            <!-- This openTab function is adapted from https://www.w3schools.com/howto/howto_js_tabs.asp-->
        <script>
            function openTab(index) {
              var i, tabcontent, tablinks;
              tabcontent = document.getElementsByClassName("tabcontent");
              for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
              }
              tablinks = document.getElementsByClassName("tablinks");
              for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
              }
              document.getElementById(index).style.display = "block";
              evt.currentTarget.className += " active";
            }
        </script>


      <script>
      $( function() {
      var availableTags = [
          {% for StateName in StateNames %}
              "{{StateName}}",
          {% endfor %}
      ];
      var CountyavailableTags = [
          {% for CountyName in CountyNames %}
              "{{CountyName}}",
          {% endfor %}
      ];
      $( "#stateName" ).autocomplete({
        source: availableTags
      });
      $( "#countyName" ).autocomplete({
        source: CountyavailableTags
      });
      });
      </script>

        
    </body>

    <footer>
    </footer>
    
</html>

