<html>
    <link rel="stylesheet" href="{{ url_for('static', filename='mainstyle.css') }}">
    <head>
        <title>Wrong Input</title>
    </head>
    <body>
        <a href="/"> <h1>Welcome to CoViz!</h1> </a>
        <h2> Wrong Input</h2>
        <p> We cannt recognize your input... Here are the error messages:<br><br></p>
            {% for msg in errormsg: %}
            <p>{{ msg }}</p>
            {% endfor %}
            
            <p> <br>Please click on the title to go back to the home page... </p>
    </body>
</html>