<html>

    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='mainstyle.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='graphpagestyle.css') }}">
        <head>
            <title>Covid Graphs For {{location[0]}}, {{location[1]}}</title>
            <link rel="stylesheet" href="mainstyle.css">
        </head>
    </head>

    <body>
        <a href="/"> <h1>Welcome to CoViz!</h1> </a>
        <h2>
            Covid Graphs For {{location[0]}}, {{location[1]}} <br/>
            From {{dateRange[0][0] + "-" + dateRange[0][1] + "-" + dateRange[0][2]}}
            To {{dateRange[1][0] + "-" + dateRange[1][1] + "-" + dateRange[1][2]}}
        </h2>
        <img src='data:image/png;base64,{{data}}'/>
        <p>
            Due to the fact that I cannot use my team's code, this image is a .png file of the mock data made with G/makeGraph.py in our team repo. <br>
            Our website will support plotting all data and displaying them on this page.
        </p>
    </body>
    <footer>
    </footer>
</html>

