<html>
    <link rel="stylesheet" href="{{ url_for('static', filename='mainstyle.css') }}">
    <head>
        <title>Internal Error</title>
    </head>
    <body>            
        <a href="/"> <h1>Welcome to CoViz!</h1> </a>
        <div class="tab">
            <a href ="/"> <button class="tablinks">Return Home</button> </a>
        </div>

        <div class = "tabcontent" style="display:block">

            <h2> Internal Error</h2>
            <p> An error occurred... </p>
        </div>

    </body>
</html>