<html>
    <link rel="stylesheet" href="{{ url_for('static', filename='mainstyle.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='homepagestyle.css') }}">
    <head>
        <title>Page Not found</title>
    </head>
    <body>
        <a href="/"> <h1>Welcome to CoViz!</h1> </a>

        <div class = "tab">
            <a href ="/"> <button class="tablinks">Return Home</button> </a>
        </div>
        <div class = "tabcontent" style="display:block">
            <h2> Page not found</h2>
            <p> We are sorry，but we could not find the page you are looking for. <br> <br >
                Please click on the title to go back to the home page... </p>
        </div>
    </body>
</html>