<html>
    <head>
        <title>Page Not found</title>
    </head>
    <body>
        <h1> Sorry Page not found</h1>
        <p> We are sorry but we could not find the page you are looking for <br/> 
            could you please try one of the functions we have set up <br/> 
                </p>
        <p>
                1. .../county/state/date1/date2 <br/> 
                
                Displays the confirmed cases and confirmed deaths for the specific location between date1 and date2<br/> 
                Try:<br/> 
                .../Rice/Minnesota/2020-2-1/2020-3-1<br/> 
                
                2.  .../county/state/date1/date2/graph<br/> <br/> 
                
                Graphs the confirmed cases and confirmed deaths for the specific location between date1 and date2<br/> 
                
                Try:<br\> 
                .../Rice/Minnesota/2020-2-1/2020-3-1/graph<br/> 
        </p>
    </body>
</html>